.avatar {
    height: 120px;
    border-radius: 100px;
    /* width: 100px; */
}
/* .avatarLink {
    cursor: pointer;
} */
.preloader {
    /* padding-left: 50px; */
    position: absolute;
    left: 830px;
    top: 160px;
}
.userInfo {
  display: flex;
  flex-direction: column;
  padding-bottom: 20px;
}
.btnFollou {
    margin: 10px 0px 5px 20px;
    cursor: pointer;
}
