.nav {
    grid-area: n;
    background-color: rgba(59, 51, 51, 0.5);
}
.ul {
    padding: 15px 0 0 15px;
}
.item a {
    color:rgb(24, 166, 201);
    font-weight: 500;
}
.item a.active {
    color:rgb(0, 132, 255);
}
.friends {

}
.avatar {
    width: 50px;
    height: 50px;
    border-radius: 50px;
}
.a {
    display: flex;
}
.name {
    padding-left: 10px;
}
.item {
    padding-bottom: 13px;
}