
.avatar {
  width: 200px;
  height: 200px;
  border-radius: 100px;
  align-items: flex-end;
}

.contact {
  padding-left: 30px;
}
.highBlock {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.btnEdit {
  color: white;
  background-color: rgb(37, 202, 153);
  border-radius: 100px;
  border: none;
  padding: 5px;
  width: 70px;
  cursor: pointer;
}
input[type='file']{
  display: none;

}
label {
  color: white;
  height: 20px;
  width: 120px;
  background-color: rgb(37, 202, 153);
  font-size: 12px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  margin-top: 10px;
  margin-bottom: 20px;
}
.textarea {
  outline:none;
  padding: 4px;
  width: 40px;
  line-height: 1.5;
  border-radius: 40px;
  border: 1px solid #ccc;
  box-shadow: 1px 1px 1px #999;
}
.btnSave {
  color: white;
  background-color: rgb(37, 202, 153);
  border-radius: 100px;
  border: none;
  padding: 5px;
  width: 70px;
  cursor: pointer;
}