.app-wrapper {
  margin: 0 auto;
  width: 1200px;
  display: grid;

  grid-template-areas:
  "h h"
  "n c";

  grid-template-rows: 60px 1fr;
  grid-template-columns: 2fr 10fr;
  /* grid-gap: 10px; */
}
.header {
  grid-area: h;
  background-color: rgb(191, 255, 108);
}
.header img {
  width: 20px;
}
.nav {
  grid-area: n;
  background-color: rgb(108, 255, 174);
}
.content {
  grid-area: c;
  background-color: rgb(253, 255, 108);
}
.content img {
  width: 200px;
}
