body {
  background-image: url('./assets/images/back.jpg');
  color:white;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}
.app-wrapper {
  margin: 0 auto;
  width: 1000px;
  display: grid;

  grid-template-areas:
  "n c";

  grid-template-columns: 2fr 10fr;
  grid-gap: 30px;

  height: 100vh;
}
ul, li {
  margin: 0;
  padding: 0;
  list-style-type: none;
}
a {
  text-decoration: none;
}
.app-wraper-content {
  grid-area: c;
  background-color: rgba(59, 51, 51, 0.6);
  width: auto;
  padding: 30px;
}
button {
  color: white;
  background-color: rgb(37, 202, 153);
  border-radius: 100px;
  border: none;
  padding: 5px;
  width: 70px;
  cursor: pointer;
} 
p {
  margin: 0;
  padding: 0;
}
