body {
  background-color: rgb(29, 29, 29);
  color:rgb(201, 124, 24);
}
.app-wrapper {
  background-color: rgb(29, 29, 29);
  margin: 0 auto;
  width: 1200px;
  display: grid;

  grid-template-areas:
  "h h"
  "n c";

  grid-template-rows: 60px 1fr;
  grid-template-columns: 2fr 10fr;
  grid-gap: 10px;
}
ul, li {
  margin: 0;
  padding: 0;
  list-style-type: none;
}
a {
  text-decoration: none;
}

.app-wrapper-content {
  .content {
    grid-area: c;
    background-color: rgb(29, 29, 29);
  }
  .panorama {
    width: auto;
    height: 300px;
  }
  .avatar {
    width: 200px;
  }
}
