.usersMessage {
    display: flex;
}

.dialogs_items .active {
    color:rgb(19, 88, 100);
}

.user a {
    color:rgb(24, 166, 201);
    font-weight: 500;
}
.user a.active {
    color:rgb(0, 132, 255);
}
.dialogs_items li{
    padding-bottom: 10px;
}
.messages li {
    padding-bottom: 10px;
    padding-left: 50px;
}



