.selectedPage {
    font-weight: bold;
    cursor: pointer;

}
.pages {
    display: flex;

}
.paginator {
    margin: 10px;
}
.pageNumber {
    padding: 2px;
    cursor: pointer;

}
.pageNumber.selectedPage {
    font-weight: bold;
    color:rgb(0, 132, 255);
}